---

---

<footer
  class="bg-gray-800 text-white py-6 mt-10 w-full mx-auto px-6 text-center gap-10 flex flex-col items-center"
>
  <p>Hecho con ❤️ y 🍵. <strong>UwU</strong></p>
  <p>&copy; 2023 MoeCorp. Todos los derechos reservados.</p>
</footer>
