---

---

<header
  class="bg-white shadow-lg w-full mx-auto px-6 py-4 flex justify-between items-center"
>
  <nav>
    <ul class="flex space-x-6 text-gray-700">
      <li>
        <a href="/" class="hover:text-gray-900 transition-colors">Inicio</a>
      </li>
      <li>
        <a href="#about" class="hover:text-gray-900 transition-colors"
          >Sobre Nosotros</a
        >
      </li>
      <li>
        <a href="#products" class="hover:text-gray-900 transition-colors"
          >Productos</a
        >
      </li>
    </ul>
  </nav>
</header>
